<div class="container">
  <div class="d-flex justify-content-between">
    <div class="product-image col-48">
      <img src="../../../assets/images/iphone_11.png" />
    </div>
    <div class="product-detail col-48">
      <div class="product-detail-title">
        <h2>{{ productDetail.name }}</h2>
      </div>
      <div class="product-detail-price">
        <h4>{{ productDetail.unitPrice }} đ</h4>
      </div>

      <!-- sub-product -->
      <div
        class="sub-product"
        *ngFor="let subProduct of productDetail.subProduct"
      >
        <div class="sub-product-title">
          <span>{{ subProduct.name }}</span>
        </div>
        <div
          class="sub-sub-product-container"
          *ngIf="subProduct.type === 'MEMORY'"
        >
          <div
            class="sub-sub-product-card"
            *ngFor="let subSubProduct of subProduct.subSubProduct"
            (click)="onChooseSubSubProduct(subSubProduct)"
          >
            <span>{{ subSubProduct.name }}</span>
          </div>
        </div>

        <div
          class="sub-sub-product-container"
          *ngIf="subProduct.type === 'COLOR'"
        >
          <div
            class="sub-sub-product-circle"
            *ngFor="let subSubProduct of subProduct.subSubProduct"
            [style.backgroundColor]="subSubProduct.color"
            (click)="onChooseSubSubProduct(subSubProduct)"
          ></div>
        </div>
      </div>

      <!-- action-buttons -->
      <div class="product-action" (click)="onAddProductToCart()">
        <button>MUA NGAY</button>
      </div>
    </div>
  </div>

  <!-- comment -->
  <div class="comment">
    <h2>Đánh giá sản phẩm</h2>
    <div *ngIf="productDetail.comment.length > 0; else noComment">
      <div *ngFor="let comment of productDetail.comment">
        <img />
        <p>{{ comment.text }}</p>
      </div>
    </div>
    <ng-template #noComment>
      <p>Không có đánh giá</p>
    </ng-template>
    <div>
      <button
        class="comment-btn"
        *ngIf="!isExpandCommentFrm"
        (click)="isExpandCommentFrm = true"
      >
        <fa-icon [icon]="faPen"></fa-icon>
        &nbsp;Viết đánh giá
      </button>
      <form *ngIf="isExpandCommentFrm" [formGroup]="commentFrm">
        <div>
          <input
            class="name-comment-input"
            type="text"
            formControlName="text"
            placeholder="Viết nội dung đánh giá"
          />
        </div>
        <div>
          <textarea
            class="content-comment-input"
            type="text"
            formControlName="rating"
            placeholder="Đánh giá"
          ></textarea>
        </div>
        <button class="submit-comment-btn" (click)="onSubmitCommentFrm()">
          Gửi
        </button>
      </form>
    </div>
  </div>
</div>
