.container {
    width: 90%;
    margin: 4rem auto;
}

.list-item {
    flex-wrap: wrap;
}

.card {
    width: 19%;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 8px;

    &:hover{
        cursor: pointer;
    }

    & .card-image {
        height: 240px;
        object-fit: contain;
        margin-bottom: 8px;
    }

    & .card-title {
        padding-left: 8px;
        padding-right: 8px;

        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    & .card-sub-title {
        padding-left: 8px;
        padding-right: 8px;

        font-size: 16px;
    }
}
