.container {
    width: 90%;
    margin: 4rem auto;
}

.title-center {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}

.list-item {
    flex-wrap: wrap;
}

.card {
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 8px;
    background-color: white;

    &:hover {
        cursor: pointer;
    }

    & .card-image {
        height: 240px;
        object-fit: contain;
        margin-bottom: 8px;
    }

    & .card-title {
        padding-left: 8px;
        padding-right: 8px;

        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    & .card-sub-title {
        padding-left: 8px;
        padding-right: 8px;

        font-size: 16px;
        color: #0066cc;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
    }
}
