/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

ul {
    margin: 0;
}


.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}