nav {
    background-color: #515154;
    color: white;
    height: 80px;

    & > ul {
        width: 90%;
        margin: 0 auto;
        list-style-type: none;
    }
}

.right-margin {
    margin-right: 10px;
}

.fixed-right {
    margin-left: auto;
    margin-right: 10px;
}

.logo {
    margin-right: 2rem;
}

.nav-item {
    margin-right: 2rem;
    cursor: pointer;
}

.icon {
    // float: right;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
}
