<nav class="d-flex align-items-center">
  <ul class="d-flex align-items-center">
    <li class="nav-item logo" [routerLink]="['/']">
      <img src="../../../assets/images/logo.png" width="180" />
    </li>
    <li *ngFor="let nav of navList" class="nav-item">
      <span>{{ nav.name }}</span>
    </li>
    <li class="nav-item icon">
      <div [style.marginRight]="'32px'">
        <img
          src="../../../assets/images/cart-icon.png"
          width="18"
          [routerLink]="['/cart']"
        />
        <span>{{ cartNumber$ | async }}</span>
      </div>
      <img src="../../../assets/images/login.png" width="18" />
    </li>
  </ul>
</nav>
