nav {
    background-color: #515154;
    color: white;
    height: 80px;

    & > ul {
        list-style-type: none;
    }
}

.right-margin{
    margin-right: 10px;
}

.fixed-right {
   margin-left: auto;
   margin-right: 10px; 
}